
    <div class="container-fluid">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header"><i class="icon-wrench"></i> 信息管理</li>
              <li id="-2"><a href="{:url('Admin/message')}">信息管理</a></li>
              <li id="-3"><a href="{:url('Admin/describe')}">简介编辑</a></li>
              <li id="-4"><a href="{:url('Admin/banner')}">首页图片</a></li>
              <li id="-6"><a href="{:url('Admin/event')}">事件记录</a></li>
            </ul>
          </div>